{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <style>
        .msg-container{
            align-items: center;
            color:green;
            box-shadow: 0 0 10px;
        }
    </style>
</head>
<div class="msg-container">
    <h1>Checkout Success</h1><br>
    <p>Your payment was successful!</p><br>
    <p>Thank you for your purchase.</p>
    <!-- Add any additional content or messages you want to display -->

    <!-- Customize the design and content as needed -->

</div>
{% endblock %}
